{% extends "base.html" %}

{% block navbar %}

    {% include "navbar.html" %}

{% endblock %}


{% block content %}

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading">Welcome to <span class="logo-font">getdelicious</span></h2> 
                <p>Before you begin using the service you must agree to these Terms of Use. Your use of <span class="logo-font">getdelicious</span> is deemed to be your acceptance of these Terms of Use. Please read them carefully.</p>
                <hr class="primary">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading text-capitalize">Lawful purpose</h2>
                <p>You agree to use www.getdelicious.com.au only for lawful purposes, and in a manner that does not infringe the rights of or restrict or inhibit the use and enjoyment of www.getdelicious.com.au by any third party. This includes conduct which is unlawful or which may harass or cause distress or inconvenience to any person, the transmission of obscene or offensive content or disruption to www.getdelicious.com.au.</p>
                <p>You must not post or transmit via www.getdelicious.com.au any unlawful, defamatory, obscene, offensive or scandalous material, or any material that constitutes or encourages conduct that would contravene any law.</p>
                <hr class="primary">
            </div>
            <div class="col-md-12 text-center">
                <h2 class="section-heading text-capitalize">Disclaimer</h2>
                <p>Your use of www.getdelicious.com.au does not:</p>
                    <ul>
                        <li>1. affect or reduce any obligation owed to You by any Agency;</li>
                        <li>2. reduce any obligation You owe to any Agency.</li>
                    </ul>
                <hr class="primary">
            </div>
            <div class="col-md-12 text-center">
                <h2 class="section-heading text-capitalize">Content</h2>
                <p>We do not endorse, support, or guarantee the truthfulness, accuracy, or reliability of any the content posted on www.getdelicious.com.au or endorse any of the opinions expressed.</p>
                <p>We take reasonable care in linking to other websites but we have no direct control over the content presented in those websites or the availability of those websites.</p>
                <p>We make no representation that the material on any linked websites does not infringe the intellectual property rights or any other rights of any person. We do not authorise the reproduction of such material.</p>
                <p>We do not endorse or recommend any links to external websites, or third party content, including products and services offered by, from or through those websites or their content.</p>
                <p>With the exception of the Commonwealth Coat of Arms and where otherwise noted, material presented on www.getdelicious.com.au  is provided under a Creative Commons Attribution 2.5 Australia licence.</p>
                <hr class="primary">
            </div>
            <div class="col-md-12 text-center">
                <h2 class="section-heading text-capitalize">Security</h2>
                <p>The development and management of www.getdelicious.com.au is coordinated by us, however some interactions with www.getdelicious.com.au occur on systems under the control the Department of Finance and Deregulation. </p>
                <p>We strive to protect content and information you provide on www.getdelicious.com.au. We will use all reasonable endeavours to ensure that your content and information are not compromised. However, we cannot guarantee that no Harmful Code will enter www.getdelicious.com.au. You should be aware of the risks associated with using websites.</p>
                <p>We recommend that you use appropriate and up-to-date firewall and anti-virus software to protect your computer systems.</p>
                <hr class="primary">
            </div>
            <div class="col-md-12 text-center">
                <h2 class="section-heading text-capitalize">Privacy</h2>
                <p>For more information about how we protect your privacy and personal information, please see our Privacy Statement.</p>
                <p>In order to participate in, and contribute to, www.getdelicious.com.au you may be required to register and provide an email address.</p>
                <p>We will only use and disclose your personal information to a person, body or other Agency:</p>
                <ul>
                    <li>1. to provide you with a service that you have requested;</li>
                    <li>2. as authorised by law, for example, if a law enforcement authority or court order lawfully directs us to disclose the information of a user.</li>
                </ul>
                <hr class="primary">
            </div>
            <div class="col-md-12 text-center">
                <h2 class="section-heading text-capitalize">General</h2>
                <p>These Terms of Use are governed by the laws of Australia and you agree to submit to the exclusive jurisdiction of the courts of the Australia.</p>
                <p>If any of these Terms of Use are held to be invalid, unenforceable or illegal for any reason, the remaining Terms of Use will continue in full force.</p>
                <p>These Terms of Use do not negate any Terms or Conditions that apply to your use of any other government website.</p>
                <p>We may revise these Terms and Conditions from time to time.</p>
                <p>Please contact us if you have any questions, problems or feedback regarding our site.</p>
                <hr class="primary">
            </div>
            <div class="col-md-12 text-center">
                <h2 class="section-heading text-capitalize">Definitions</h2>
                <p>Harmful Code – Any form of harmful surreptitious code or other contaminants, including viruses, bugs, trojan horses, spyware or adware.</p>
                <p>You and Your means the user of www.getdelicious.com.au</p>
                <p>Our, Us and We means the representation of www.getdelicious.com.au</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}