<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Seriously Delicious Food Truck Catering | getdelicious.com.au</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/clean-blog.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
{% load django_markdown %}
     <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size: 30px; font-family: 'Montserrat', sans-serif; font-weight: 700; color: #da4d4d;" href="/">getdelicious</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="{% url 'about' %}">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% url 'ideas' %}">Ideas</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% url 'faq' %}">FAQ</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% url 'terms' %}">Terms</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% url 'privacy' %}">Privacy</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% url 'contact' %}">Contact</a>
                </li>
                <li>
                    <a href="https://twitter.com/getdeliciousAU" target="_blank"><i class="fa fa-twitter fa-2x" style="color:#4099ff;"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/getdeliciousAU" target="_blank"><i class="fa fa-facebook fa-2x" style="color:#3b5998;"></i></a>
                </li>
            </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ MEDIA_URL }}{{ post.coverpicture }}')">
        <div class="container" style="text-shadow: 5px 2px 15px black;">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title|title }}</h1>
                        <h2 class="subheading">{{ post.subtitle|capfirst }}</h2>
                        <span class="meta">Posted by <span style="font-family: 'Montserrat', sans-serif; color: #da4d4d; font-style: normal;">{{ post.user }}</span> on {{ post.timestamp }}</span>
                        {% if post.timestamp != post.updated %}
                        <span class="meta" style="font-size: 11px;">Last edited by <span style="font-family: 'Montserrat', sans-serif; color: #da4d4d; font-style: normal;">{{ post.user }}</span> on {{ post.updated }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>{{ post.post|markdown|linebreaks }}</p>
                </div>
            </div>
        </div>
    </article>
    <ul class="pager">
        <li class="next">
            <a onclick="goBack()" href="?page={{ blogpost.previous_page_number }}">&larr; Back</a>
        </li>    
    </ul>
    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy; <span style="font-family: 'Montserrat', sans-serif; color: #da4d4d;">getdelicious</span> 2015</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ STATIC_URL }}js/clean-blog.min.js"></script>

    <!-- go back button -->
    <script>
        function goBack() {
        window.history.back()
        }
    </script>

</body>

</html>
